<iframe 
    id="mczrMainIframe" class="iframe" 
    width="{{ settings.iframeWidth }}" height="{{ settings.iframeHeight }}" frameBorder="0"
    src="{{ iframeSrc }}" 
    data-product-id="{{product.id}}"
    allow="clipboard-write *"
    >
    <p>Your browser does not support iframes.</p>
</iframe>
<style>
    {{settings.productCss}}
</style>