<table>
    <tr>
        <th>Plugin</th>
        <td>{{ plugin_name }}</td>
    </tr>
    <tr>
        <th>ID</th>
        <td>{{ plugin_id }}</td>
    </tr>
    <tr>
        <th>Version</th>
        <td>{{ plugin_version }}</td>
    </tr>
    <tr>
        <th>Comments</th>
        <td>{{ comments }}</td>
    </tr>
    <tr>
        <th>Notify me?</th>
        <td>{{ notify }}</td>
    </tr>
    <tr>
        <th>User name</th>
        <td>{{ user_name }}</td>
    </tr>
    <tr>
        <th>User email</th>
        <td>{{ user_email }}</td>
    </tr>
</table>