<div {{#if blockCustomID}}id="{{{blockCustomID}}}"{{else}}id="sktbuilder-map-block-{{id}}"{{/if}} class="{{#if blockCustomClass}}{{{blockCustomClass}}} {{/if}}sktbuilder-block sktbuilder-map">
    <div class="qb-container">
          <div class="sktbuilder-header">
                {{#if header}}
                    <h2 class="sktbuilder-header__title  sktbuilder-header__title_color_black">{{header}}</h2>
                {{/if}}
                {{#if description}}
                    <div class="sktbuilder-header__description sktbuilder-header-map__description sktbuilder-header__description_color_black">
                       {{{description}}}
                    </div>
                {{/if}}
           </div>
    </div>
     <div class="sktbuilder-map__wrapper">
            <iframe class="sktbuilder-map__map" src="{{mapSource}}" style="border:0; height: {{mapHeight}}px; width: {{mapWidth}}%;" frameborder="0" allowfullscreen></iframe>
        </div>
</div>