<div {{#if blockCustomID}}id="{{{blockCustomID}}}"{{else}}id="skt-builder-menu-block-{{id}}"{{/if}} class="{{#if blockCustomClass}}{{{blockCustomClass}}} {{/if}}skt-builder-block-wrapper skt-builder-menu-block skt-builder-menu-block-{{id}}" style="background-color: {{blockBackgroundColor}}; background-image: url({{blockBgImageUrl}}); padding-bottom: {{blockPaddingBottom}}px; padding-top: {{blockPaddingTop}}px; {{#if blockParallaxEffect}}background-attachment: fixed;{{/if}}">
	<div class="skt-builder-block-inner skt-builder-block-inner-{{id}}" style="{{#if blockAnimation}}visibility: hidden;{{/if}}">
		<div class="skt-builder-container">
        	<style>
            	.skt-builder-menu-block-{{id}} .skt-builder-block-column-button{background-color: {{blockButtonBgColor}}; color: {{blockButtonTextColor}};}
				.skt-builder-menu-block-{{id}} .skt-builder-block-column-button:hover{background-color: {{blockButtonHoverBgColor}}; color: {{blockButtonHoverTextColor}};}
            </style>
			{{#if blockTitle}}
				<div class="skt-builder-block-title">
					<h2 style="color: {{blockTitleColor}}; text-align: {{blockTitleAlign}};">{{blockTitle}}</h2>
				</div>
			{{/if}}
			{{#if blockDescription}}
                <div class="skt-builder-block-description">{{{blockDescription}}}</div>
            {{/if}}
			<div class="skt-builder-columns-row skt-builder-columns-row-{{blockColumnsCount}}column">
			{{#if blockColumns.length}}
				{{#each_with_sort blockColumns "order"}}
					<div class="skt-builder-column skt-builder-menu-column skt-builder-menu-column-{{id}}">
                    	<style>
							.skt-builder-menu-column-{{id}} .skt-builder-menu-column-title a:hover{color: {{titleHoverColor}} !important;}
						</style>
                    	<div class="skt-builder-column-inner">
                        	<a href="{{columnLink}}" {{#if columnLinkTarget}}target="_blank"{{/if}}><img class="skt-builder-menu-column-image" src="{{columnImage}}"></a>
                        	<div class="skt-builder-menu-column-info">
                        		<h3 class="skt-builder-menu-column-title"><a href="{{columnLink}}" style="color: {{titleColor}};" {{#if columnLinkTarget}}target="_blank"{{/if}}>{{title}}</a></h3>
                                <span class="skt-builder-menu-column-price" style="color: {{columnPriceColor}};">{{columnPrice}}</span>
                            </div>
                            <div class="skt-builder-menu-column-description" style="color: {{columnDescriptionColor}};">{{{columnDescription}}}</div>
                        </div>
					</div>
				{{/each_with_sort}}
			{{/if}}
			</div>
            <div class="skt-builder-block-column-button-wrap" style="top: {{blockButtonPosition}}px;"><a sty class="skt-builder-block-column-button" href="{{blockButtonLink}}" {{#if blockButtonLinkTarget}}target="_blank"{{/if}}>{{blockButtonText}}</a></div>
		</div>
	</div>
</div>
{{#if blockAnimation}}
<script>
jQuery.noConflict();
jQuery(document).ready(function(){
jQuery(window).scroll(function(){
    // This is then function used to detect if the element is scrolled into view
    function elementScrolled(elem)
    {
        var docViewTop = jQuery(window).scrollTop();
        var docViewBottom = docViewTop + jQuery(window).height();
        var elemTop = jQuery(elem).offset().top;
        return ((elemTop <= docViewBottom) && (elemTop >= docViewTop));
    }

	if (jQuery('.skt-builder-block-inner-{{id}}').length > 0) {
	if(elementScrolled('.skt-builder-block-inner-{{id}}')) {
        var els = jQuery('.skt-builder-block-inner-{{id}}'),
            i = 0,
            f = function () {
                jQuery(els[i++]).addClass('{{blockAnimationEffect}}');
                if(i < els.length) setTimeout(f, 400);
            };
        f();
    }}

});
});
</script>
{{/if}}