<div {{#if blockCustomID}}id="{{{blockCustomID}}}"{{else}}id="sktbuilder-text-bg-block{{id}}"{{/if}} class="{{#if blockCustomClass}}{{{blockCustomClass}}} {{/if}}sktbuilder-block sktbuilder-block_simple-bg sktbuilder-text sktbuilder-text-{{id}}" style="background-image: url({{bgImageUrl}});">
    <div class="qb-container">
            <div class="sktbuilder-header">
            {{#if header}}
                <h2 class="sktbuilder-header__title sktbuilder-text__title sktbuilder-header__title_color_black">{{header}}</h2>
            {{/if}}
            {{#if text}}
                <div class="sktbuilder-header__description sktbuilder-text__description sktbuilder-header__description_color_black">
                   {{{text}}}
                </div>
            {{/if}}
            </div>
    </div>
</div>
<script>
jQuery( document ).ready(function() {
    var windowHeight = jQuery(window).height();
    var windowWidth = jQuery(window).width();
    if(windowWidth > 768) {
        jQuery('.sktbuilder-text-{{id}}').css('height', windowHeight);
    } else {
        jQuery('.sktbuilder-text-{{id}}').css('height', 'auto');
    }
});
jQuery( window ).resize(function() {
    var windowHeight = jQuery(window).height();
    var windowWidth = jQuery(window).width();
    if(windowWidth > 768) {
        jQuery('.sktbuilder-text-{{id}}').css('height', windowHeight);
    } else {
        jQuery('.sktbuilder-text-{{id}}').css('height', 'auto');
    }
});
</script>