{% if confidential_files %}
    {% for file in confidential_files %}
        <div class="files__item">
            <p class="files__size">{{ file.size }}</p>
            <p class="files__last-modify">{{ file.modified_at }}</p>
            <a href="{{ file.url }}" target="_blank" class="files__file-name">{{ file.name }}</a>
            <p class="files__file-path">{{ file.path }}</p>
            <button class="files__btn-dots" >
                <svg width="3" height="16" viewBox="0 0 3 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 12.5C2.32843 12.5 3 13.1716 3 14C3 14.8284 2.32843 15.5 1.5 15.5C0.671573 15.5 0 14.8284 0 14C0 13.1716 0.671573 12.5 1.5 12.5ZM3 8C3 7.17157 2.32843 6.5 1.5 6.5C0.671573 6.5 0 7.17157 0 8C0 8.82843 0.671573 9.5 1.5 9.5C2.32843 9.5 3 8.82843 3 8ZM3 2C3 1.17157 2.32843 0.5 1.5 0.5C0.671573 0.5 0 1.17157 0 2C0 2.82843 0.671573 3.5 1.5 3.5C2.32843 3.5 3 2.82843 3 2Z" fill="#86939E"></path>
                </svg>
            </button>
            <div class="options">
                <button class="options__item options__copy" data-copy="{{ file.name }}" data-copied-text="{{ 'Name copied' |trans}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 60 60" fill="none">
                        <g id="24x24/On Light/Queue-Add">
                            <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M22.5 5.625H47.5C51.297 5.625 54.375 8.70304 54.375 12.5V37.5C54.375 41.297 51.297 44.375 47.5 44.375H44.375V47.8571C44.375 51.4569 41.4569 54.375 37.8571 54.375H15C9.82233 54.375 5.625 50.1777 5.625 45V22.1429C5.625 18.5431 8.54314 15.625 12.1429 15.625H15.625V12.5C15.625 8.70304 18.703 5.625 22.5 5.625ZM15.625 19.375H12.1429C10.6142 19.375 9.375 20.6142 9.375 22.1429V45C9.375 48.1066 11.8934 50.625 15 50.625H37.8571C39.3858 50.625 40.625 49.3858 40.625 47.8571V44.375H22.5C18.703 44.375 15.625 41.297 15.625 37.5V19.375ZM22.5 9.375C20.7741 9.375 19.375 10.7741 19.375 12.5V37.5C19.375 39.2259 20.7741 40.625 22.5 40.625H47.5C49.2259 40.625 50.625 39.2259 50.625 37.5V12.5C50.625 10.7741 49.2259 9.375 47.5 9.375H22.5Z" fill="#3D50DF" />
                        </g>
                    </svg>
                    {{ 'Copy name' |trans}}
                </button>
                <button class="options__item options__copy" data-copy="{{ file.path }}" data-copied-text="{{ 'Path copied' |trans}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 60 60" fill="none">
                        <g id="24x24/On Light/Queue-Add">
                            <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M22.5 5.625H47.5C51.297 5.625 54.375 8.70304 54.375 12.5V37.5C54.375 41.297 51.297 44.375 47.5 44.375H44.375V47.8571C44.375 51.4569 41.4569 54.375 37.8571 54.375H15C9.82233 54.375 5.625 50.1777 5.625 45V22.1429C5.625 18.5431 8.54314 15.625 12.1429 15.625H15.625V12.5C15.625 8.70304 18.703 5.625 22.5 5.625ZM15.625 19.375H12.1429C10.6142 19.375 9.375 20.6142 9.375 22.1429V45C9.375 48.1066 11.8934 50.625 15 50.625H37.8571C39.3858 50.625 40.625 49.3858 40.625 47.8571V44.375H22.5C18.703 44.375 15.625 41.297 15.625 37.5V19.375ZM22.5 9.375C20.7741 9.375 19.375 10.7741 19.375 12.5V37.5C19.375 39.2259 20.7741 40.625 22.5 40.625H47.5C49.2259 40.625 50.625 39.2259 50.625 37.5V12.5C50.625 10.7741 49.2259 9.375 47.5 9.375H22.5Z" fill="#3D50DF" />
                        </g>
                    </svg>
                    {{ 'Copy path' |trans}}
                </button>
                <button class="options__item options__delete" data-id="{{ file.id }}" data-name="{{ file.name }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 60 60" fill="none">
                        <g id="24x24/On Light/Media">
                            <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M30.5251 7.98866C32.4475 6.0261 34.5927 5.22822 36.8868 5.81598C39.1744 6.40203 40.6387 7.95236 41.1965 10.2203C43.7835 10.5335 45.6751 11.942 46.6126 14.3816C47.0421 15.4993 47.0808 16.8037 46.793 18.1252H47.4999C48.6491 18.1252 49.5279 19.1495 49.3531 20.2853L45.0054 48.5455C44.4894 51.8994 41.6036 54.3752 38.2103 54.3752H21.7895C18.3962 54.3752 15.5104 51.8994 14.9945 48.5455L10.6467 20.2853C10.472 19.1495 11.3508 18.1252 12.4999 18.1252H13.2442C12.9044 16.0675 13.2657 14.2964 14.4288 12.9383C15.9324 11.1825 17.9686 10.4737 20.35 10.7644C21.0778 8.60211 22.5143 7.14424 24.6313 6.58168C26.701 6.03166 28.6934 6.54567 30.5251 7.98866ZM15.6713 21.8752C15.699 21.8758 15.7267 21.8758 15.7545 21.8752H21.8431L23.15 50.6252H21.7906C20.2482 50.6252 18.9365 49.4998 18.7019 47.9754L14.6865 21.8752H15.6713ZM26.9038 50.6252L25.597 21.8752H34.4L33.0931 50.6252H26.9038ZM36.847 50.6252H38.2114C39.7538 50.6252 41.0655 49.4998 41.3001 47.9754L45.3155 21.8752H44.0968C44.0754 21.8756 44.054 21.8756 44.0325 21.8752H38.1538L36.847 50.6252ZM42.8877 18.1252H17.0698C16.7264 16.7949 16.84 15.8879 17.2771 15.3775C18.1135 14.4008 19.2896 14.1701 21.1877 14.7826C22.3048 15.1431 23.4746 14.4002 23.6234 13.2359C23.8615 11.3729 24.4986 10.4971 25.5944 10.2059C26.7293 9.9043 27.8942 10.3925 29.2694 11.9622C30.0648 12.8701 31.4984 12.8009 32.2026 11.8205C33.6442 9.81345 34.848 9.16474 35.9562 9.44866C37.0888 9.73883 37.6153 10.4769 37.6936 12.1301C37.7427 13.1687 38.6276 13.9689 39.6658 13.9138C41.5982 13.8112 42.5937 14.3775 43.1122 15.7267C43.3242 16.2785 43.2486 17.1756 42.8877 18.1252Z" fill="#D56C6A" />
                        </g>
                    </svg>
                    {{ 'Delete' |trans}}
                </button>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="wtotem_scan_no_data">
        <p>{{ 'Congratulations!<br>There\'s nothing here' | trans | raw  }}</p>
    </div>
{% endif %}